body {
  background-color: darkorange;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
}
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 4px 7px rgba(0,0,0,0.16), 0 4px 7px rgba(0,0,0,0.23);
  }
  .center {
    text-align: center;
    margin: 30px;
    font-size: 30px;
  }  
  h2{
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.5)
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animated-text {
    animation: fade-in 15s;
  }
  
  nav img{
    height: 30px;
    width: 60px;
  }

  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  header .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
  }
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  header nav ul li {
    margin: 0 80px;
  }
  header nav ul li a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  header nav ul li a:hover {
    color: darkorange;
  }
  header .menu-toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  header .menu-toggle:focus {
    outline: none;
  }
  
  @media (max-width: 768px) {
    header nav ul {
      display: none;
    }
    header .menu-toggle {
      display: block;
    }
  }  

  section {
    width: 30%;
    background-color: black;
    margin: 20px;
    padding: 30px;
    box-sizing: border-box;
  }
  
  section#about {
    background-color: black;
    color: white;
    border-radius: 44px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  section#models {
    background-color: black;
    color: white;
    border-radius: 44px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  section#dealers {
    background-color: black;
    color: white;
    border-radius: 44px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  section#contact {
    background-color: black;
    color: white;
    border-radius: 44px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  section img {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    background-color: black;
    color: darkorange;
    text-align: center;
    padding: 20px;
  }
  img {
    border-radius: 10px;
  }
  img {
    box-shadow: 0 0 10px rgb(32, 8, 8);
  }
  section#models ul li img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  section#contact p {
    font-size: 1.2em;
  }
  hr {
    border: none;
    border-top: 7px solid black;
    width: 150%;
    margin: 30px auto;
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .contact-section h3 {
    margin-bottom: 20px;
  }
  
  .contact-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .contact-section li {
    margin-bottom: 10px;
  }
  
  .contact-section a {
    color: black;
    text-decoration: none;
  }
  .social-media-links img {
    width: 50px;
    height: 50px;
    margin: 20px;
  }
  button {
    background-color:black;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px; 
    background-color: black;
    border: 10px solid darkorange; 
    padding: 20px;
  }  
  button:hover {
    background-color: darkorange;
  }
  .box {
    background-color: darkorange;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px; 
    background-color: black;
    border: 7px solid darkorange; 
    padding: 20px;
    text-align: center;
  }
  
  .box:hover {
    background-color: black;
    cursor: pointer;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
  #contact-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
  }
u{
  color: darkorange;
}  
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 127px;
  left: 20px;
}
.search-container input[type=text] {
  width: 40%;
  padding: 5px;
  border: 4px solid black;
  border-radius: 12px;
  font-size: 17px;
  background-color: white;
  transition: width 1.0s ease-in-out;
}
.search-container input[type=text]:focus {
  width: 100%;
}
h9{
  text-align: right;
  color: white;
}